 .div1{
     height: 500px;
     width:500px ;
     background-color:white;
     display: inline-block;
     margin: 80px 80px 80px 80px;
     border: 2px solid black;
     border-radius: 10px;
     box-shadow:5px 5px 5px 5px rgb(168, 168, 162);

     
 }
 img{
    height: 250px;
    margin: 20px 20px 20px 20px;
    border-radius: 20px;
 }
 html{
    background-color:#000000;
 }
 H1{
    margin: 20px;
 }
 .div2{
    height: 80%;
 }
 h2{
    display: inline-block;
 }
 #h21{
    margin-left: 20px;
    color: blue;
 }
 #h22{
    margin-left: 15px;
    color: rgba(103, 102, 102, 0.91);
 }
 button{
    margin-left: 15px;

    height: 50px;
    border-radius: 10px;
    background-color: rgb(44, 203, 44);
    color: white;
    
 }